//
// Layout
//

.error-text {
  text-align: center;
  font-size: 64px !important;
  font-family: cursive;
}

.error-container {
  display: flex;
  flex-direction: row;
  border: none;
}

.error-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
}

.error-column {
  display: flex;
  flex-direction: column;
}

.error-space-between {
  justify-content: space-between;
}

.image-box {
  width: 100%;
  padding: $space-xl $space-md;
  align-items: center;
}

.info-box {
  width: 38%;
  padding: $space-xl $space-md;
}

.graph-percentage {
  padding: 0 0 18px;
}

.image-box {
  padding: $space-sm;
}

.left-margin {
  padding: 0 0 0 64px;
}

.current-box {
  justify-content: flex-end;
}

//
// Text
//

.current-text {
  color: $blue;
  font-weight: bold;
  line-height: 14px;
}

.error-link {
  color: $orange;
}

.error-minus {
  color: #7eb26d;
  padding: 0 $space-sm;
  line-height: 21px;
}

.graph-percentage p {
  text-align: right;
  margin: 0;
  line-height: 14px;
}

.graph-text {
  margin: 0;
}

@include media-breakpoint-down(sm) {
  .graph-box {
    width: 50%;
  }

  .info-box {
    width: 50%;
  }
}

@include media-breakpoint-down(xs) {
  .error-container {
    flex-direction: column;
  }

  .graph-box {
    width: 100%;
  }

  .info-box {
    width: 100%;
  }

  .error-full-width {
    width: 100%;
  }
}
